<html>
<head>
<style>
div{
border : 2px solid red;
width :	300px;
height : 100px;
}

</style>
<script>
function f1(){
	var obj = document.getElementById("div1");
	obj.style.color = "blue";
	obj.style.backgroundColor = "yellow";
	
}
function f2(){
	var obj = document.getElementById("div1");
	obj.style.color = "red";
	obj.style.backgroundColor = "green";
	
	
}
</script>
</head>
<body>

<h1> Java Script Demo</h1>
<div id="div1" onmouseover="f1()" onmouseout="f2()"></br>
Dynamic Styles using JavaScript  

</div>
</body>


</html>